# --- VaultPy .gitignore ---

# Environment & Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Build & Distribution
build/
dist/
*.spec
VaultPy_v*.zip

# Local Data (Crucial for Privacy)
data/
*.db
vaultpy.lock

# IDES & Logs
.vscode/
.idea/
*.log
.pytest_cache/

# Test Scratch
scratch/
security_test_scratch/
test_*.db
